@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --myred: 227, 24, 55;
  --myyellow: 215, 168, 58;
  --accent: 228, 10, 19;
  --light: 255, 255, 255;
  --dark: 54, 54, 54;
  --orange: 244, 173, 76;
  --primary: 255, 255, 255;
  --secondary: 245, 245, 245;
  --line: 223, 223, 223;
  --alert: 180, 19, 19;
  --success: 14, 165, 38;
  --warning: 211, 180, 14;
  --info: 58, 27, 248;
  --body: 152, 152, 152;
}

.dark {
  --myred: 227, 24, 55;
  --myyellow: 215, 168, 58;
  --accent: 228, 10, 19;
  --light: 64, 64, 64;
  --primary: 13, 17, 23;
  --secondary: 1, 4, 9;
  --dark: 255, 255, 255;
  --line: 48, 54, 61;
  --alert: 180, 19, 19;
  --success: 14, 165, 38;
  --warning: 211, 180, 14;
  --info: 58, 27, 248;
  --body: 188, 188, 188;
}

@layer base {
  h1 {
    @apply text-[clamp(35px,_6vw,_50px)];
  }
  h2 {
    @apply text-[clamp(30px,_6vw,_40px)];
  }
  h3 {
    @apply text-[clamp(25px,_6vw,_30px)];
  }
  h4 {
    @apply text-[clamp(20px,_6vw,_25px)];
  }
  h5 {
    @apply text-[clamp(16px,_6vw,_20px)];
  }
  h6 {
    @apply text-[clamp(12px,_6vw,_16px)];
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  img {
    @apply block;
  }

  ul {
    @apply list-none;
  }

  body {
    @apply leading-snug text-body;
  }
}

@layer components {
  .main-nav {
    @apply text-lg md:text-base font-semibold md:font-normal;
  }
  .container {
    @apply max-w-[2100px] mx-auto px-4;
  }

  .btn {
    @apply p-1.5 border border-transparent flex gap-2 rounded-md transition-all
    items-center bg-primary text-sm py-2;
  }
  .btn:disabled {
    @apply pointer-events-none opacity-50;
  }

  .btn-add,
  .btn-accent {
    @apply bg-accent text-white hover:bg-opacity-80;
  }
  .btn-alert {
    @apply bg-alert text-white hover:bg-opacity-80;
  }
  .btn-warning {
    @apply bg-warning text-white hover:bg-opacity-80;
  }
  .btn-info {
    @apply bg-info text-white hover:bg-opacity-80;
  }
  .btn-cancel {
    @apply bg-gray-500 text-white hover:bg-opacity-80;
  }

  .input-photo-wrap:has(.error-show) {
    @apply border border-alert  animate-shake rounded-md;
  }
  .input-photo-wrap span.error-show {
    @apply -top-4;
  }

  .btn-animate-start {
    @apply text-center inline-block text-xs px-20 py-2 bg-light text-dark rounded-lg
    text-transparent  relative overflow-hidden;
  }
  .btn-animate-start::before {
    @apply transition-all absolute content-[attr(data-text)] bottom-3 left-0 w-full text-light block;
  }
  .btn-animate-start::after {
    @apply transition-all absolute content-[attr(data-text)] -bottom-[40px] left-0 w-full text-light block;
  }
  .btn-animate-start:hover::before {
    @apply bottom-16 duration-300;
  }
  .btn-animate-start:hover::after {
    @apply bottom-3 duration-300;
  }
}
@layer utilities {
  .center-all {
    @apply flex justify-center items-center;
  }
}

/* width */
.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  background: #d7a83a;
  border-radius: 5px;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: hsl(42, 66%, 44%);
}

.spinner circle {
  fill: none;
  stroke-width: 6;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1s ease-in-out infinite;
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -110px;
  }
}
